.preview{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
}
.btnImage{
    display: inline;
}
.ButtonNav{
    position: absolute;
    display: flex;
    padding-top: 1%;
    padding-left: 1.5%;
}

.ButtonNav2{
    right: 0;
    position: absolute;
    display: flex;
    padding-top: 1%;
    padding-right: 1.5%;
}

.loading{
    background-color: #ededed;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    flex: 0.7;
    position: absolute;
}

.addModel{
    position: fixed;
    bottom: 2%;
    left: 2%;
}
.playAnim{
    position: fixed;
    bottom: 2%;
    left: 90%;
}
.switchView{
    position: fixed;
    bottom: 2%;
    left: 40%;
}
